<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reaponsive CSS Cards</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
    <link rel="stylesheet" href="/stylecards.css" />
</head>

<body>

    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">

            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="img/housewife copy.jpg" alt="">
                </div>
                <div class="blog-slider__content">
                    <span class="blog-slider__code">Get Started With Khaun Piun Sukhi</span>
                    <div class="blog-slider__title">Housewife</div>

                    <div class="blog-slider__text">
                        Want to start your online food business? <br>Don't worry we got you covered! <br>Create an account with KPS right now. </div>
                    <a href="/logintry" class="blog-slider__button">Login</a>
                    <a href="/registertry2" class="blog-slider__button">Register</a>
                </div>
            </div>

            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="/img/cust.png" alt="">
                </div>
                <div class="blog-slider__content">
                    <span class="blog-slider__code">Get Started With Khaun Piun Sukhi</span>
                    <div class="blog-slider__title">Customer</div>
                    <div class="blog-slider__text">Missing those parathas of your mom's hand? <br> No worries! Get started with Khaun Piun Sukhi today.
                        <br>Because no restaurant can bring the taste of your mom's hand!!</div>
                    <a href="/logincustomer" class="blog-slider__button">Login</a>
                    <a href="/registercustomer" class="blog-slider__button">Register</a>
                </div>
            </div>



        </div>
        <div class="blog-slider__pagination"></div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>